<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>般若波罗蜜多心经</string>
		<key>FileName</key>
		<string>般若波罗蜜多心经.rtf</string>
		<key>URL</key>
		<string>般若波罗蜜多心经.rtf</string>
		<key>Text</key>
		<string>观自在菩萨，行深般若波罗蜜多时，
照见五蕴皆空，度一切苦厄。
舍利子，
色不异空，空不异色，
色即是空，空即是色，
受想行识，亦复如是。
舍利子，
是诸法空相，
不生不灭，不垢不净，不增不减。
是故空中无色，无受想行识，
无眼耳鼻舌身意，
无色声香味触法，
无眼界，乃至无意识界，
无无明，亦无无明尽，
乃至无老死，亦无老死尽。
无苦集灭道，无智亦无得。
以无所得故。
菩提萨埵，依般若波罗蜜多故，
心无挂碍。无挂碍故，无有恐怖，
远离颠倒梦想，究竟涅盘。
三世诸佛，依般若波罗蜜多故，
得阿耨多罗三藐三菩提。
故知般若波罗蜜多，
是大神咒，是大明咒，是无上咒，是无等等咒，
能除一切苦，真实不虚。
故说般若波罗蜜多咒，
即说咒曰：揭谛揭谛，波罗揭谛，波罗僧揭谛，菩提萨婆诃。


般若波罗蜜多心经：掌握运用大智慧，到达彼岸而觉悟的核心根本经典</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>大悲咒</string>
		<key>FileName</key>
		<string>大悲咒.rtf</string>
		<key>URL</key>
		<string>大悲咒.rtf</string>
		<key>Text</key>
		<string>南无喝啰怛那哆啰夜耶。
南无阿唎耶。
婆卢羯帝烁钵啰耶。
菩提萨埵婆耶。
摩诃萨埵婆耶。
摩诃迦卢尼迦耶。
唵。
萨皤啰罚曳。
数怛那怛写。
南无悉吉利埵伊蒙阿唎耶。
婆卢吉帝室佛啰楞驮婆。
南无那啰谨墀。
醯唎摩诃皤哆沙咩。
萨婆阿他豆输朋。
阿逝孕。
萨婆萨哆那摩婆萨多那摩婆伽。
摩罚特豆。
怛侄他。
唵阿婆卢醯。
卢迦帝。
迦罗帝。
夷醯唎。
摩诃菩提萨埵。
萨婆萨婆。
摩啰摩啰。
摩醯摩醯唎驮孕。
俱卢俱卢羯蒙。
度卢度卢罚阇耶帝。
摩诃罚阇耶帝。
陀啰陀啰。
地唎尼。
室佛啰耶。
遮啰遮啰。
么么罚摩啰。
穆帝隶。
伊醯伊醯。
室那室那。
阿啰嘇佛啰舍利。
罚娑罚嘇。
佛啰舍耶。
呼卢呼卢摩啰。
呼卢呼卢醯利。
娑啰娑啰。
悉唎悉唎。
苏嚧苏嚧。
菩提夜菩提夜。
菩驮夜菩驮夜。
弥帝利夜。
那啰谨墀。
地利瑟尼那。
婆夜摩那。
娑婆诃。
悉陀夜。
娑婆诃。
摩诃悉陀夜。
娑婆诃。
悉陀喻艺。
室皤啰耶。
娑婆诃。
那啰谨墀。
娑婆诃。
摩啰那啰。
娑婆诃。
悉啰僧阿穆佉耶。
娑婆诃。
娑婆摩诃阿悉陀夜。
娑婆诃。
者吉啰阿悉陀夜。
娑婆诃。
波陀摩羯悉陀夜。
娑婆诃。
那啰谨墀皤伽啰耶。
娑婆诃。
摩婆利胜羯啰夜。
娑婆诃。
南无喝啰怛那哆啰夜耶。
南无阿利耶。
婆嚧吉帝。
烁皤啰夜。
娑婆诃。
唵悉殿都。
漫多啰。
跋陀耶。
娑婆诃。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>往生咒</string>
		<key>FileName</key>
		<string>往生咒</string>
		<key>URL</key>
		<string>往生咒</string>
		<key>Text</key>
		<string>ná mó ā mí duō pó yè duō tā qié duō yè
南 无 阿 弥 多 婆 夜 哆 他 伽 多 夜

duō dì yè tā ā mí lì dū pó pí
哆 地 夜 他 阿 弥 唎 都 婆 毗

ā mí lì duō xī dān pó pí
阿 弥 唎 哆 悉 耽 婆 毗

ā mí lì duō pí jiā lán dì
阿 弥 唎 哆 毗 迦 兰 帝

ā mí lì duō pí jiā lán duō
阿 弥 唎 哆 毗 迦 兰 多

qié mí ní qié qié nā
伽 弥 腻 　 伽 伽 那

zhǐ duō jiā lì suō pó hē
枳 多 迦 唎 娑 婆 诃</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>七佛灭罪真言</string>
		<key>FileName</key>
		<string>七佛灭罪真言</string>
		<key>URL</key>
		<string>七佛灭罪真言</string>
		<key>Text</key>
		<string>lí pó lí pó dì。
离婆离婆帝。

qiú hē qiú hē dì。
求诃求诃帝。

tuó luó ní dì。
陀罗尼帝。

ní hē là dì。
尼诃啰帝。

pí lí nǐ dì。
毗黎你帝。

mó hē qié dì。
摩诃伽帝。

zhēn líng qián dì。
真陵乾帝。

suō pó hē。
莎婆诃。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>妙法莲华经观世音菩萨普门品</string>
		<key>FileName</key>
		<string>妙法莲华经观世音菩萨普门品</string>
		<key>URL</key>
		<string>妙法莲华经观世音菩萨普门品</string>
		<key>Text</key>
		<string>妙法莲华经观世音菩萨普门品
姚秦三藏法师鸠摩罗什译

尔时无尽意菩萨、即从座起，偏袒右肩，合掌向佛、而作是言：“世尊，观世音菩萨、以何因缘、名观世音？”佛告无尽意菩萨：“善男子，若有无量百千万亿众生、受诸苦恼，闻是观世音菩萨，一心称名，观世音菩萨即时观其音声，皆得解脱。若有持是观世音菩萨名者，设入大火，火不能烧，由是菩萨威神力故。若为大水所漂，称其名号，即得浅处。若有百千万亿众生，为求金、银、琉璃、砗磲、玛瑙、珊瑚、琥珀、真珠、等宝，入于大海，假使黑风吹其船舫、飘堕罗刹鬼国，其中若有乃至一人、称观世音菩萨名者，是诸人等，皆得解脱罗刹之难。以是因缘，名观世音。”


“若复有人、临当被害，称观世音菩萨名者，彼所执刀杖、寻段段坏，而得解脱。若三千大千国土，满中夜叉、罗刹，欲来恼人，闻其称观世音菩萨名者，是诸恶鬼、尚不能以恶眼视之，况复加害。设复有人，若有罪、若无罪，杻械、枷锁、检系其身，称观世音菩萨名者，皆悉断坏，即得解脱。若三千大千国土、满中怨贼，有一商主，将诸商人，赍持重宝、经过险路，其中一人、作是唱言：“诸善男子、勿得恐怖，汝等应当一心称观世音菩萨名号，是菩萨能以无畏施于众生，汝等若称名者，于此怨贼、当得解脱。”众商人闻，俱发声言：“南无观世音菩萨。”称其名故，即得解脱。”


“无尽意，观世音菩萨摩诃萨威神之力、巍巍如是。若有众生、多于淫欲，常念恭敬观世音菩萨，便得离欲。若多嗔恚，常念恭敬观世音菩萨，便得离嗔。若多愚痴，常念恭敬观世音菩萨，便得离痴。无尽意，观世音菩萨、有如是等大威神力，多所饶益，是故众生、常应心念。若有女人、设欲求男，礼拜供养观世音菩萨，便生福德智慧之男，设欲求女，便生端正有相之女，宿植德本，众人爱敬。无尽意，观世音菩萨有如是力，若有众生、恭敬礼拜观世音菩萨，福不唐捐，是故众生皆应受持观世音菩萨名号。”


“无尽意，若有人、受持六十二亿恒河沙菩萨名字，复尽形供养饮食、衣服、卧具、医药，于汝意云何，是善男子、善女人、功德多否？”


无尽意言：“甚多，世尊。”佛言：“若复有人、受持观世音菩萨名号，乃至一时礼拜、供养，是二人福，正等无异，于百千万亿劫、不可穷尽，无尽意，受持观世音菩萨名号，得如是无量无边福德之利。”无尽意菩萨白佛言：“世尊，观世音菩萨、云何游此娑婆世界，云何而为众生说法，方便之力，其事云何？”佛告无尽意菩萨：“善男子，若有国土众生、应以佛身得度者，观世音菩萨即现佛身而为说法。应以辟支佛身得度者，即现辟支佛身而为说法。应以声闻身得度者，即现声闻身而为说法。应以梵王身得度者，即现梵王身而为说法。应以帝释身得度者，即现帝释身而为说法。应以自在天身得度者，即现自在天身而为说法。应以大自在天身得度者，即现大自在天身而为说法。应以天大将军身得度者，即现天大将军身而为说法。应以毗沙门身得度者，即现毗沙门身而为说法。应以小王身得度者，即现小王身而为说法。应以长者身得度者，即现长者身而为说法。应以居士身得度者，即现居士身而为说法。应以宰官身得度者，即现宰官身而为说法。应以婆罗门身得度者，即现婆罗门身而为说法。应以比丘、比丘尼、优婆塞、优婆夷身得度者，即现比丘、比丘尼、优婆塞、优婆夷身而为说法。应以长者、居士、宰官、婆罗门妇女身得度者，即现妇女身而为说法。应以童男、童女身得度者，即现童男、童女身而为说法。应以天龙、夜叉、乾闼婆、阿修罗、迦楼罗、紧那罗、摩侯罗伽、人非人、等身、得度者，即皆现之而为说法。应以执金刚神得度者，即现执金刚神而为说法。”


“无尽意，是观世音菩萨成就如是功德，以种种形、游诸国土，度脱众生，是故汝等应当一心供养观世音菩萨。是观世音菩萨摩诃萨，于怖畏急难之中、能施无畏，是故此娑婆世界、皆号之为施无畏者。”


无尽意菩萨白佛言：“世尊，我今当供养观世音菩萨。”即解颈众宝珠璎珞、价值百千两金，而以与之，作是言：“仁者，受此法施珍宝璎珞。”时观世音菩萨不肯受之。无尽意复白观世音菩萨言：“仁者，愍我等故，受此璎珞。”


尔时佛告观世音菩萨：“当愍此无尽意菩萨、及四众、天、龙、夜叉、乾闼婆、阿修罗、迦楼罗、紧那罗、摩侯罗伽、人非人、等故，受是璎珞。”即时观世音菩萨愍诸四众、及于天、龙、人非人、等，受其璎珞，分作二分，一分奉释迦牟尼佛，一分奉多宝佛塔。“无尽意，观世音菩萨有如是自在神力，游于娑婆世界。”


尔时无尽意菩萨以偈问曰：

世尊妙相具， 我今重问彼， 

佛子何因缘， 名为观世音。

具足妙相尊， 偈答无尽意。 

汝听观音行， 善应诸方所，

宏誓深如海， 历劫不思议， 

侍多千亿佛， 发大清净愿。

我为汝略说， 闻名及见身， 

心念不空过， 能灭诸有苦。

假使兴害意， 推落大火坑， 

念彼观音力， 火坑变成池。

或漂流巨海， 龙鱼诸鬼难， 

念彼观音力， 波浪不能没。

或在须弥峰、 为人所推堕， 

念彼观音力， 如日虚空住。

或被恶人逐， 堕落金刚山， 

念彼观音力， 不能损一毛。

或值怨贼绕， 各执刀加害， 

念彼观音力， 咸即起慈心。

或遭王难苦， 临刑欲寿终， 

念彼观音力， 刀寻段段坏。

或囚禁枷锁， 手足被杻械， 

念彼观音力， 释然得解脱。

咒诅诸毒药、 所欲害身者， 

念彼观音力， 还著于本人。

或遇恶罗刹、 毒龙诸鬼等， 

念彼观音力， 时悉不敢害。

若恶兽围绕， 利牙爪可怖， 

念彼观音力， 疾走无边方。

蚖蛇及蝮蝎， 气毒烟火燃， 

念彼观音力， 寻声自回去。

云雷鼓掣电， 降雹澍大雨， 

念彼观音力， 应时得消散。

众生被困厄， 无量苦逼身， 

观音妙智力， 能救世间苦。

具足神通力， 广修智方便， 

十方诸国土， 无刹不现身。

种种诸恶趣， 地狱鬼畜生， 

生老病死苦， 以渐悉令灭。

真观清净观， 广大智慧观， 

悲观及慈观， 常愿常瞻仰。

无垢清净光、 慧日破诸闇， 

能伏灾风火， 普明照世间。

悲体戒雷震， 慈意妙大云， 

澍甘露法雨， 灭除烦恼焰。

诤讼经官处， 怖畏军阵中， 

念彼观音力， 众怨悉退散。

妙音观世音、 梵音海潮音， 

胜彼世间音， 是故须常念，

念念勿生疑。 观世音净圣， 

于苦恼死厄、 能为作依怙。

具一切功德， 慈眼视众生， 

福聚海无量， 是故应顶礼。


尔时持地菩萨即从座起，前白佛言：“世尊，若有众生、闻是观世音菩萨品、自在之业，普门示现神通力者，当知是人功德不少。”佛说是普门品时，众中八万四千众生，皆发无等等阿耨多罗三藐三菩提心。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>金刚般若波罗蜜经</string>
		<key>FileName</key>
		<string>金刚般若波罗蜜经</string>
		<key>URL</key>
		<string>金刚般若波罗蜜经</string>
		<key>Text</key>
		<string>金刚般若波罗蜜经
姚秦三藏法师鸠摩罗什译

第一品 法会因由分
如是我闻，一时，佛在舍卫国祗树给孤独园，与大比丘众千二百五十人俱。尔时，世尊食时，著衣持钵，
入舍卫大城乞食。于其城中，次第乞已，还至本处。饭食讫，收衣钵，洗足已，敷座而坐。
　
第二品 善现启请分
时，长老须菩提在大众中即从座起，偏袒右肩，右膝着地，合掌恭敬而白佛言：“希有！世尊！如来善护念
诸菩萨，善付嘱诸菩萨。世尊！善男子、善女人，发阿耨多罗三藐三菩提心，应云何住，云何降伏其心？
”佛言：“善哉，善哉。须菩提！如汝所说，如来善护念诸菩萨，善付嘱诸菩萨。汝今谛听！当为汝说：善
男子、善女人，发阿耨多罗三藐三菩提心，应如是住，如是降伏其心。”“唯然，世尊！愿乐欲闻。”
　
第三品 大乘正宗分
佛告须菩提：“诸菩萨摩诃萨应如是降伏其心！所有一切众生之类：若卵生、若胎生、若湿生、若化生；若
有色、若无色；若有想、若无想、若非有想非无想，我皆令入无余涅盘而灭度之。如是灭度无量无数无边
众生，实无众生得灭度者。何以故？须菩提！若菩萨有我相、人相、众生相、寿者相，即非菩萨。”
　
第四品 妙行无住分
“复次，须菩提！菩萨于法，应无所住，行于布施，所谓不住色布施，不住声香味触法布施。须菩提！菩萨
应如是布施，不住于相。何以故？若菩萨不住相布施，其福德不可思量。须菩提！于意云何？东方虚空可
思量不？”“不也，世尊！”“须菩提！南西北方四维上下虚空可思量不？”“不也，世尊！”“须菩提！菩萨无住
相布施，福德亦复如是不可思量。须菩提！菩萨但应如所教住。”
　
第五品 如理实见分
“须菩提！于意云何？可以身相见如来不？”“不也，世尊！不可以身相得见如来。何以故？如来所说身相，
即非身相。”佛告须菩提：“凡所有相，皆是虚妄。若见诸相非相，则见如来。”
　
第六品 正信希有分
须菩提白佛言：“世尊！颇有众生，得闻如是言说章句，生实信不？”佛告须菩提：“莫作是说。如来灭后，
后五百岁，有持戒修福者，于此章句能生信心，以此为实，当知是人不于一佛二佛三四五佛而种善根，已
于无量千万佛所种诸善根，闻是章句，乃至一念生净信者，须菩提！如来悉知悉见，是诸众生得如是无量
福德。何以故？是诸众生无复我相、人相、众生相、寿者相；无法相，亦无非法相。何以故？是诸众生若
心取相，则为著我人众生寿者。若取法相，即著我人众生寿者。何以故？若取非法相，即著我人众生寿者
，是故不应取法，不应取非法。以是义故，如来常说：‘汝等比丘，知我说法，如筏喻者；法尚应舍，何况
非法。’”
　
第七品 无得无说分
“须菩提！于意云何？如来得阿耨多罗三藐三菩提耶？如来有所说法耶？”须菩提言：“如我解佛所说义，无
有定法名阿耨多罗三藐三菩提，亦无有定法，如来可说。何以故？如来所说法，皆不可取、不可说、非法
、非非法。所以者何？一切圣贤，皆以无为法而有差别。”
　
第八品 依法出生分
“须菩提！于意云何？若人满三千大千世界七宝以用布施，是人所得福德，宁为多不？”须菩提言：“甚多，
世尊！何以故？是福德即非福德性，是故如来说福德多。”“若复有人，于此经中受持，乃至四句偈等，为
他人说，其福胜彼。何以故？须菩提！一切诸佛，及诸佛阿耨多罗三藐三菩提法，皆从此经出。须菩提！
所谓佛法者，即非佛法。”
　
第九品 一相无相分
“须菩提！于意云何？须陀洹能作是念：‘我得须陀洹果’不？”须菩提言：“不也，世尊！何以故？须陀洹名
为入流，而无所入，不入色声香味触法，是名须陀洹。”“须菩提！于意云何？斯陀含能作是念：‘我得斯陀
含果’不？”须菩提言：不也，世尊！何以故？斯陀含名一往来，而实无往来，是名斯陀含。”“须菩提！于
意云何？阿那含能作是念：‘我得阿那含果’不？”须菩提言：“不也，世尊！何以故？阿那含名为不来，而实
无不来，是故名阿那含。”“须菩提！于意云何？阿罗汉能作是念，‘我得阿罗汉道’不？”须菩提言：“不也，
世尊！何以故？实无有法名阿罗汉。世尊！若阿罗汉作是念：‘我得阿罗汉道’，即为著我人众生寿者。世
尊！佛说我得无诤三昧，人中最为第一，是第一离欲阿罗汉。世尊，我不作是念：‘我是离欲阿罗汉’。世
尊！我若作是念：‘我得阿罗汉道’，世尊则不说须菩提是乐阿兰那行者！以须菩提实无所行，而名须菩提
是乐阿兰那行。
　
第十品 庄严净土分
佛告须菩提：“于意云何？如来昔在然灯佛所，于法有所得不？”“不也，世尊！如来在然灯佛所，于法实无
所得。”“须菩提！于意云何？菩萨庄严佛土不？”“不也，世尊！何以故？庄严佛土者，则非庄严，是名庄
严。”“是故须菩提！诸菩萨摩诃萨应如是生清净心，不应住色生心，不应住声香味触法生心，应无所住而
生其心。须菩提！譬如有人，身如须弥山王，于意云何？是身为大不？”须菩提言：“甚大，世尊！何以故
？佛说非身，是名大身。”
　
第十一品 无为福胜分
“须菩提！如恒河中所有沙数，如是沙等恒河，于意云何？是诸恒河沙宁为多不？”须菩提言：“甚多，世尊
！但诸恒河尚多无数，何况其沙。”“须菩提！我今实言告汝：若有善男子、善女人，以七宝满尔所恒河沙
数三千大千世界，以用布施，得福多不？”须菩提言：“甚多，世尊！”佛告须菩提：“若善男子、善女人，
于此经中，乃至受持四句偈等，为他人说，而此福德胜前福德。”
　
第十二品 尊重正教分
“复次，须菩提！随说是经，乃至四句偈等，当知此处，一切世间、天人、阿修罗，皆应供养，如佛塔庙，
何况有人尽能受持读诵。须菩提！当知是人成就最上第一希有之法，若是经典所在之处，则为有佛，若尊
重弟子。”
　
第十三品 如法受持分
尔时，须菩提白佛言：“世尊！当何名此经，我等云何奉持？”佛告须菩提：“是经名为《金刚般若波罗蜜》
，以是名字，汝当奉持。所以者何？须菩提！佛说般若波罗蜜，即非般若波罗蜜，是名般若波罗蜜。须菩
提！于意云何？如来有所说法不？”须菩提白佛言：“世尊！如来无所说。”“须菩提！于意云何？三千大千
世界所有微尘是为多不？”须菩提言：“甚多，世尊！”“须菩提！诸微尘，如来说非微尘，是名微尘。如来
说：世界，非世界，是名世界。须菩提！于意云何？可以三十二相见如来不？”“不也，世尊！不可以三十
二相得见如来。何以故？如来说：三十二相，即是非相，是名三十二相。”“须菩提！若有善男子、善女人
，以恒河沙等身命布施；若复有人，于此经中，乃至受持四句偈等，为他人说，其福甚多。”
　
第十四品 离相寂灭分
尔时，须菩提闻说是经，深解义趣，涕泪悲泣，而白佛言：“希有，世尊！佛说如是甚深经典，我从昔来所
得慧眼，未曾得闻如是之经。世尊！若复有人得闻是经，信心清净，则生实相，当知是人，成就第一希有
功德。世尊！是实相者，即是非相，是故如来说名实相。世尊！我今得闻如是经典，信解受持不足为难，
若当来世，后五百岁，其有众生，得闻是经，信解受持，是人则为第一希有。

何以故？此人无我相、无人相、无众生相、无寿者相。所以者何？我相即是非相，人相、众生、相寿者相
即是非相。何以故？离一切诸相，则名诸佛。”佛告须菩提：“如是！如是！若复有人得闻是经，不惊、不
怖、不畏，当知是人甚为希有。何以故？须菩提！如来说第一波罗蜜，非第一波罗蜜，是名第一波罗蜜。
须菩提！忍辱波罗蜜，如来说非忍辱波罗蜜，是名忍辱波罗蜜。何以故？须菩提！如我昔为歌利王割截身
体，我于尔时，无我相、无人相、无众生相、无寿者相。何以故？

我于往昔节节支解时，若有我相、人相、众生相、寿者相，应生嗔恨。须菩提！又念过去于五百世作忍辱
仙人，于尔所世，无我相、无人相、无众生相、无寿者相。是故须菩提！菩萨应离一切相，发阿耨多罗三
藐三菩提心，不应住色生心，不应住声香味触法生心，应生无所住心。若心有住，则为非住。是故佛说：
‘菩萨心不应住色布施。’须菩提！菩萨为利益一切众生，应如是布施。如来说：一切诸相，即是非相。又说
：一切众生，即非众生。须菩提！如来是真语者、实语者、如语者、不诳语者、不异语者。须菩提！如来
所得法，此法无实无虚。须菩萨，若菩萨心住于法而行布施，如人入暗，则无所见。若菩萨心不住法而行
布施，如人有目，日光明照，见种种色。须菩提！当来之世，若有善男子、善女人，能于此经受持读诵，
则为如来以佛智慧，悉知是人，悉见是人，皆得成就无量无边功德。”
　
第十五品 持经功德分
“须菩提！若有善男子、善女人，初日分以恒河沙等身布施，中日分复以恒河沙等身布施，后日分亦以恒河
沙等身布施，如是无量百千万亿劫以身布施；若复有人，闻此经典，信心不逆，其福胜彼，何况书写、受
持、读诵、为人解说。须菩提！以要言之，是经有不可思议、不可称量、无边功德。如来为发大乘者说，
为发最上乘者说。若有人能受持读诵，广为人说，如来悉知是人，悉见是人，皆得成就不可量、不可称、
无有边、不可思议功德。如是人等，则为荷担如来阿耨多罗三藐三菩提。

何以故？须菩提！若乐小法者，著我见、人见、众生见、寿者见，则于此经，不能听受读诵、为人解说。
须菩提！在在处处，若有此经，一切世间、天、人、阿修罗，所应供养；当知此处则为是塔，皆应恭敬，
作礼围绕，以诸华香而散其处。”
　
第十六品 能净业障分
“复次，须菩提！若善男子、善女人，受持读诵此经，若为人轻贱，是人先世罪业，应堕恶道，以今世人轻
贱故，先世罪业则为消灭，当得阿耨多罗三藐三菩提。”“须菩提！我念过去无量阿僧祗劫，于然灯佛前，
得值八百四千万亿那由他诸佛，悉皆供养承事，无空过者，若复有人， 于后末世，能受持读诵此经，所得
功德，于我所供养诸佛功德，百分不及一，千万亿分、乃至算数譬喻所不能及。须菩提！若善男子、善女
人，于后末世，有受持读诵此经，所得功德，我若具说者，或有人闻，心则狂乱，狐疑不信。须菩提！当
知是经义不可思议，果报亦不可思议。”
　
第十七品 究竟无我分
尔时，须菩提白佛言：“世尊！善男子、善女人，发阿耨多罗三藐三菩提心，云何应住？云何降伏其心？
”佛告须菩提：“善男子、善女人，发阿耨多罗三藐三菩提心者，当生如是心，我应灭度一切众生。灭度一
切众生已，而无有一众生实灭度者。

何以故？须菩提！若菩萨有我相、人相、众生相、寿者相，则非菩萨。

所以者何？须菩提！实无有法发阿耨多罗三藐三菩提心者。”“须菩提！于意云何？如来于然灯佛所，有法
得阿耨多罗三藐三菩提不？”“不也，世尊！如我解佛所说义，佛于然灯佛所，无有法得阿耨多罗三藐三菩
提。”佛言：“如是！如是！须菩提！实无有法如来得阿耨多罗三藐三菩提。须菩提！若有法如来得阿耨多
罗三藐三菩提者，然灯佛则不与我授记：汝于来世，当得作佛，号释迦牟尼。以实无有法得阿耨多罗三藐
三菩提，是故然灯佛与我授记，作是言：‘汝于来世，当得作佛，号释迦牟尼。’

何以故？如来者，即诸法如义。若有人言：‘如来得阿耨多罗三藐三菩提’。须菩提！实无有法，佛得阿耨多
罗三藐三菩提。须菩提！如来所得阿耨多罗三藐三菩提，于是中无实无虚。是故如来说：一切法皆是佛法
。须菩提！所言一切法者，即非一切法，是故名一切法。须菩提！譬如人身长大。”须菩提言：“世尊！如
来说：人身长大，则为非大身，是名大身。”“须菩提！菩萨亦如是。若作是言：‘我当灭度无量众生’，则不
名菩萨。

何以故？须菩提！实无有法名为菩萨。是故佛说：一切法无我、无人、无众生、无寿者。须菩提！若菩萨
作是言，‘我当庄严佛土’，是不名菩萨。

何以故？如来说：庄严佛土者，即非庄严，是名庄严。须菩提！若菩萨通达无我法者，如来说名真是菩
萨。
　
第十八品 一体同观分
“须菩提！于意云何？如来有肉眼不？”

“如是，世尊！如来有肉眼。”

“须菩提！于意云何？如来有天眼不？”

“如是，世尊！如来有天眼。”

“须菩提！于意云何？如来有慧眼不？”

“如是，世尊！如来有慧眼。”

“须菩提！于意云何？如来有法眼不？”

“如是，世尊！如来有法眼。”

“须菩提！于意云何？如来有佛眼不？”

“如是，世尊！如来有佛眼。”

“须菩提！于意云何？如恒河中所有沙，佛说是沙不？”

“如是，世尊！如来说是沙。”

“须菩提！于意云何？如一恒河中所有沙，有如是等恒河，是诸恒河所有沙数，佛世界如是，宁为多不？
”“甚多，世尊！”佛告须菩提：“尔所国土中，所有众生，若干种心，如来悉知。何以故？如来说：诸心皆
为非心，是名为心。所以者何？须菩提！过去心不可得，现在心不可得，未来心不可得。”
　
第十九品 法界通分分
“须菩提！于意云何？若有人满三千大千世界七宝以用布施，是人以是因缘，得福多不？”“如是，世尊！此
人以是因缘，得福甚多。”“须菩提！若福德有实，如来不说得福德多；以福德无故，如来说得福德多。”
　
第二十品 离色离相分
“须菩提！于意云何？佛可以具足色身见不？”“不也，世尊！如来不应以具足色身见。何以故？如来说：具
足色身，即非具足色身，是名具足色身。”“须菩提！于意云何？如来可以具足诸相见不？”“不也，世尊！
如来不应以具足诸相见。何以故？如来说：诸相具足，即非具足，是名诸相具足。”
　
第二十一品 非说所说分
“须菩提！汝勿谓如来作是念：‘我当有所说法。’莫作是念，何以故？若人言：如来有所说法，即为谤佛，
不能解我所说故。须菩提！说法者，无法可说，是名说法。”尔时，慧命须菩提白佛言：“世尊！颇有众生
，于未来世，闻说是法，生信心不？”佛言：“须菩提！彼非众生，非不众生。何以故？须菩提！众生众生
者，如来说非众生，是名众生。”
　
第二十二品 无法可得分
须菩提白佛言：“世尊！佛得阿耨多罗三藐三菩提，为无所得耶？”佛言：“如是，如是。须菩提！我于阿耨
多罗三藐三菩提乃至无有少法可得，是名阿耨多罗三藐三菩提。”
　
第二十三品 净心行善分
复次，须菩提！是法平等，无有高下，是名阿耨多罗三藐三菩提；以无我、无人、无众生、无寿者，修一
切善法，即得阿耨多罗三藐三菩提。须菩提！所言善法者，如来说即非善法，是名善法。
　
第二十四品 福智无比分
“须菩提！若三千大千世界中所有诸须弥山王，如是等七宝聚，有人持用布施；若人以此《般若波罗蜜经》
，乃至四句偈等，受持读诵、为他人说，于前福德百分不及一，百千万亿分，乃至算数譬喻所不能及。”
　
第二十五品 化无所化分
“须菩提！于意云何？汝等勿谓如来作是念：‘我当度众生。’须菩提！莫作是念。何以故？实无有众生如来
度者。若有众生如来度者，如来则有我、人、众生、寿者。须菩提！如来说：‘有我者，则非有我，而凡夫
之人以为有我。’须菩提！凡夫者，如来说则非凡夫，是名凡夫。”
　
第二十六品 法身非相分
“须菩提！于意云何？可以三十二相观如来不？”须菩提言：“如是！如是！以三十二相观如来。”佛言：“须
菩提！若以三十二相观如来者，转轮圣王则是如来。”须菩提白佛言：“世尊！如我解佛所说义，不应以三
十二相观如来。”尔时，世尊而说偈言：“若以色见我，以音声求我，是人行邪道，不能见如来”
　
第二十七品 无断无灭分
“须菩提！汝若作是念：‘如来不以具足相故，得阿耨多罗三藐三菩提。’须菩提！莫作是念，‘如来不以具足
相故，得阿耨多罗三藐三菩提。’须菩提！汝若作是念，发阿耨多罗三藐三菩提心者，说诸法断灭。莫作是
念！何以故？发阿耨多罗三藐三菩提心者，于法不说断灭相。”
　
第二十八品 不受不贪分
“须菩提！若菩萨以满恒河沙等世界七宝，持用布施；若复有人知一切法无我，得成于忍，此菩萨胜
前菩萨所得功德。何以故？须菩提！以诸菩萨不受福德故。”须菩提白佛言：“世尊！云何菩萨不受福德？
”“须菩提！菩萨所作福德，不应贪著，是故说不受福德。”
　
第二十九品 威仪寂净分
“须菩提！若有人言：如来若来若去、若坐若卧，是人不解我所说义。何以故？如来者，无所从来，亦无所
去，故名如来。”
　
第三十品 一合理相分
“须菩提！若善男子、善女人，以三千大千世界碎为微尘，于意云何？是微尘众宁为多不？”“甚多，世尊！
何以故？若是微尘众实有者，佛则不说是微尘众，所以者何？佛说：微尘众，即非微尘众，是名微尘众。
世尊！如来所说三千大千世界，则非世界，是名世界。何以故？若世界实有者，则是一合相。如来说：‘
一合相，则非一合相，是名一合相。’须菩提！一合相者，则是不可说，但凡夫之人贪著其事。”
　
第三十一品 知见不生分
“须菩提！若人言：佛说我见、人见、众生见、寿者见。须菩提！于意云何？是人解我说义不？”“不也，世
尊！是人不解如来所说义。何以故？世尊说：我见、人见、众生见、寿者见，即非我见、人见、众生见、
寿者见，是名我见、人见、众生见、寿者见。”“须菩提！发阿耨多罗三藐三菩提心者，于一切法，应如是
知，如是见，如是信解，不生法相。须菩提！所言法相者，如来说即非法相，是名法相。”
　
第三十二品 应化非真分
“须菩提！若有人以满无量阿僧祗世界七宝持用布施，若有善男子、善女人发菩提心者，持于此经，乃至四
句偈等，受持读诵，为人演说，其福胜彼。云何为人演说，不取于相，如如不动。何以故？”“一切有为法
，如梦幻泡影，如露亦如电，应作如是观”佛说是经已，长老须菩提及诸比丘、比丘尼、优婆塞、优婆夷，
一切世间、天、人、阿修罗，闻佛所说，皆大欢喜，信受奉行。</string>
	</dict>
</array>
</plist>
